
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>calcular</title>
</head>
<body>
    <div> 
        <h3>Calcular: @ViewBag.Num1 + @ViewBag.Num2 = @ViewBag.Soma</h3>
    </div>
</body>
</html>
